body{
    background-color: #1675aa;
}
.Title{
    display: flex;
    justify-content: space-between;
    color: white;
}
.Lang{
    color: white;
    text-align: center;
}
.Images{
    display: flex;
    justify-content: space-between;
}
.Logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}