body{
    background-color: #1675aa;
}
.Title{
    color: white;
    text-align: center;
    text-decoration: none;
}
.G{
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.img{
    display: flex;
    justify-content: space-evenly;
}