body{
    background-color: #1675aa;
}
.T1{
    color: white;
    text-align: center;
    text-decoration: none;
}
.T2{
    color: white;
    text-align: center;
}
.T3{
    color: white;
    text-align: center;
}
.T4{
    color: white;
    text-align: center;
}
.T5{
    color: white;
    text-align: center;
}